{% extends 'layout.html'%}
{%block content%}


<div class="container">
    <div class="left-section">
        <h1 style="margin: 10px; size: 20px;">Grit Marketplace</h1>
        <button type="button"> Create Post </button>
        <br>
        <button type="button">View Profile </button>
        <br>
       
        <nav>
            <ul style="list-style-type:none">
              <li><a href="/">Frequently Asked Quesiton <br> </a></li> 
              <li><a href="/">Payment Sugesstion</a></li>  
              <li><a href="/">Avoid Scams</a></li>  
              <li><a href="/">Personal Safety Tips</a></li>  
              <li><a href="/">Contact Grit Marketplace Support </a></li>
            </ul>
        </nav>
        <img src="Home-dog.png" alt="retriver" style="width: auto;height: auto;">
    </div>
    <div class="right-section">
        <div class="row">
            <div class="column">
            <table>
                <tr>
                    <h2>Fashion & Acessories </h2>
                    <a href="">Pre-owned Clothing</a><br>
                    <a href="">Brand New Clothing</a><br>
                    <a href="">Shoes</a><br>
                    <a href="">Necklaces</a><br>
                    <a href="">Bags</a><br>
                    <a href="">Hats</a><br>
                    <a href="">Vintage Clothing</a><br>
                    <a href="">Rings</a><br>
                    <a href="">other</a>   <br>

                </tr>
                <tr>
                    <h2>Electronics & Accessories</h2>
                    <a href="">Computers</a><br>
                    <a href="">Laptops</a><br>
                    <a href="">Smartphones</a><br>
                    <a href="">TVs</a><br>
                    <a href="">Gaming Consoles</a><br>
                    <a href="">Cables & Cords</a><br>
                    <a href="">Smart watches</a><br>
                    <a href="">Calculators</a><br>
                    <a href="">USB Drives</a><br>
                    <a href="">other</a>   <br>
                </tr>
            </table>
            </div>
<!--Second column-->            
            <div class="column">
                <table>
                    <tr>
                        <h2>Hobbies & Games</h2>
                        <a href="">Collectibles</a><br>
                        <a href="">Toys</a><br>
                        <a href="">Board Games</a><br>
                        <a href="">Card Games</a><br>
                        <a href="">Puzzles</a><br>
                        <a href="">Musical Instruments</a><br>
                        <a href="">Sports Equipment</a><br>
                        <a href="">Books</a><br>
                        <a href="">CDs Vinyl Records </a> <br>
                        <a href="">Art Supplies </a> <br>
                        <a href=""> Handcrafted Items </a><br>
                        <a href=""> Camping Equipment </a><br>
                        <a href=""> Gardening Supplies </a> <br>
                        <a href="">Trading Cards </a> <br>
                        <a href=""> Other</a>   <br>
                        
                    </tr>
                    <tr>
                        <h2>Tickets & Events</h2>
                        <a href="">Concert Tickets</a><br>
                        <a href="">UMBC Events</a><br>
                        <a href="">Sport Tickets</a><br>
                        
                    </tr>
                </table>
                </div>
        </div>
    </div>
</div>

{%endblock%}


